body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#menu, #game-container {
    margin: 20px auto;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hidden {
    display: none;
}



#game-description {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    text-align: center;
}

.game-word {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

#score p {
    margin: 5px 0;
    font-size: 18px;
    color: #444;
}

#score span {
    font-weight: bold;
    color: #4CAF50;
}


button.game-button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.2s ease;
}


button.game-button.selected {
    background-color: #FFD700; 
    transform: scale(1.1); 
}

button.game-button.correct {
    background-color: #28a745 !important; 
}


button.game-button.wrong {
    background-color: #dc3545; 
}


button.game-button:hover {
    background-color: #3e8e41;
}


button.correct {
    background-color: #28a745 !important;
    color: white;
}

button.wrong {
    background-color: #dc3545;
    color: white;
}

button:hover {
    background-color: #3e8e41;
}

@media screen and (max-width: 600px) {
    button {
        font-size: 14px;
        padding: 8px 15px;
    }

    .game-word {
        font-size: 18px;
    }
}